*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    background-color:#742121 ;
    color: white;
    display: flex;
    justify-content: start;

}
.logo-sobrenatural{
    width: 10%;
    margin: 0 0;
}
.lita-item{
    display: grid;
    padding: 6px 0 0 0;
    margin: 20px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
}
.lista-item{
    display: grid;
    padding: 0 0 0 0;
    margin: 0 12px 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.search-box{
    position: absolute;
    top: 5px;
    left: 92%;
    transform: translate(-95%, -8%);
    background: #742121;
    height: 35px;
    padding: 7px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lupa-branca{
    display: none;
    width: 40px;
}
.lupa-azul{
    width: 40%;
}
.search-text{
    background: none;
    border: 0;
    outline: 0;
    font-size: 16px;
    width: 0;
    padding: 0;
    transition: 0.45;
}
.search-btn{
    width: 48px;
    height: 40px;
}
.informaçoes-gerais{
    background-color: #EA2828;
    display: inline-block;
    margin: 0 250px;
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sobre-o-seriado{
    background-color: #EA2828;
    display: inline-block;
}
.texto-1{
   width: 35%;
}
.texto1{
    width: 45%;
}
.Dean{
    width: 342px;
    height: 496px;
}
.Sammy{
    width: 414px;
    height: 660px;
}
.Castiel{
    width: 467px;
    height: 653px;
}